.writeReview {
      background-color: #f5f5f5;
      .ta-color {
            background-color: #ffffff;   
      }
      .MuiPrivateNotchedOutline-legend-86 {
            width: 100px !important;
      }
}