.customer-dashboard {
  .dash-hero {
    height: 46vh;
    background-image: url("../img/dashheromin.png");
    background-position: center;
    background-size: cover;
  }

  .tw-title {
    color: #ffffff;
    font-size: 50px;
  }
  .tw-subtitle {
    color: #ffffff;
    margin-top: 64px;
  }
  .tab-content {
    padding: 2rem !important;
  }
  .notification-close {
    cursor: pointer;
  }
  .adj-button {
    top: 49px;
    position: relative;
  }
  .disableClick {
    pointer-events: none !important;
  }
}
