.login-form {
  .customer-img {
    background-image: url("../Img/Login-img.png");
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .login-panel {
    background-color: #fefefe;
    background-size: cover;
    height: 654px;
    position: relative;
  }
  .login-title {
    font-size: 25px;
    text-align: center;
    color: #124676;
    @media (min-width: 576px) {
      margin-top: 33px;
    }
  }
  .login-copy {
    top: 33px;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    @media (min-width: 768px) {
      margin-top: 194px;
    }
  }
  .login {
    width: 90%;
  }
  .login-outline {
    border: 1px solid #d8d8db;
    width: 86%;
    background-color: #ffffff;
  }
  .or-seperator {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(212, 212, 212);
    line-height: 0.1em;
    margin: 10px 0 20px;
  }
  .or-seperator span {
    background: #fff;
    padding: 0 10px;
  }
  .dontHaveAnAccount {
    text-align: center;
  }
  .signUpLink {
    color: #007bff !important;
  }

  .signUpLink:hover {
    color: rgba(255, 0, 0, 1) !important;
    cursor: pointer;
  }
  .carousel .carousel-control {
    opacity: 1;
  }
  .carousel .carousel-control.left {
    background-image: linear-gradient(
      to right,
      rgb(0, 0, 0) 0,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .carousel .carousel-control.right {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0,
      rgb(0, 0, 0) 100%
    );
  }

  /* add darkness over the image */
  .item {
    position: relative;
  }
  .item:before {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    /* change this value from 0.1 to 1; */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}
