.login-img-cus{
    background-image: url("../Img/Login-img.png");
    height: 900px;
    background-repeat: no-repeat;
    background-position:center;
}
.login-panel{
    background-color: #fcfefe;
    background-size: cover;
    height: 735px;
}
.login-title{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}