

.forgotPassword{
    height: 100vh;
    margin: 0;
    background: #efefef; 
    background-size: cover;

    .ovr-title{
        color:#124676;
        font-size: 40px;
    }
    .ovr-copy{
        font-size: 21px;
    }
    .rp-email{
        font-size: 16px;
        font-weight: 600;
    }
    .addcolor{
        background: #ffffff;
      }
    
}

