.card{
    width: 18rem;
}
.sp-sectioncolor{
    background-color: #7e7e7e;
}
.one-b{
    background-color: red;
}
h3.card-subtitle{
    color:green!important;
}
.card-body:hover{
    text-decoration: none;
}
.sb-title{
    text-align: center;
    color:white;
    font-size:30px;
    text-transform: uppercase;
    margin-top: 100px;
  }

  .colorch-btn {
 
    transition: transform .1s; /* Animation */
    margin: 0 auto;
  }
  
  .colorch-btn:hover {
    transform: scale(1.1); 
  }

  #hover4 {
    background: #28344a;
    color: #000000;
  }
  
  #hover4:hover {
    background: #3c485e;
    text-shadow: 0 0 10px #000, 0 0 15px #000;
    box-shadow: 0 0 10px #fff, 0 0 15px #fff;
  }
  

  .colorch-btn:hover {
    background-color: #a67c00;
    transition: background-color .5s linear;
  }
  h2.card-title{
      color:#fff;
  }
  .card-text{
      color:#ffffff;
  }
