.step-1{
 background-image: url("../../../100_Home/img/hero1.jpg");
 height: 200px;
}
.step-2{
    background-image: url("../../../100_Home/img/hero1.jpg");
    height: 200px;
}
.step-3{
    background-image: url("../../../100_Home/img/hero1.jpg");
    height: 200px;
}