.img-join{
    background-image: url("../../../100_Home/img/wsy-join.jpg");
    height: 403px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.join-title{
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    color:  #ffffff;
   
}
.join-title-outter{
    width: 75%;
}
.join-panel{
    background-color: #EF0000;
}

.join-copy{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color:  #ffffff;
    width: 75%;
}
.start-posting-today-button{
    width: 30%;

}
.spt-btn{
    width: 230px;
    background-color:  #003366;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
}