.customer-dashboard{
    .dash-hero {
       height: 46vh;
       background-image: url('../img/blue-sofa-min.jpg'); 
       background-position: center;
       background-size: cover;
    }
    .MuiAppBar-colorPrimary-9{
        background-color: #124676;
    }
     a:hover{
        color: #ffffff;
    }
    .tw-title{
        color: #ffffff;
        font-size:50px;
    }
.tw-subtitle{
    color: #ffffff;
    margin-top: 64px;
}
         
    
    .notification-close{
        cursor: pointer;
    }
}

