.contractor-signup {
  background-image: url("../img/house-buy.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .signup-panel {
    margin-top: 40px;
  }
  .title {
    color: #124676;
  }
  .signUp-btn {
    background-color: #124676;
  }
}
.num {
  position: relative;
}

.number {
  position: absolute;
}

.value {
  position: absolute;
  top: 0;
  color: transparent !important;
  background: transparent;
  border: none;
}
