.customer-signup {
  background-image: url("../img/countrysidehouse.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .signup-panel {
    margin-top: 40px;
  }
  .title {
    color: #124676;
    font-size: 24px;
    @media (min-width: 375px) {
      font-size: 27px;
    }
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
  .signUp-btn {
    background-color: #124676;
  }
}
.num {
  position: relative;
}

.number {
  position: absolute;
}

.value {
  position: absolute;
  top: 0;
  color: transparent !important;
  background: transparent;
  border: none;
}
