.customer-signup{
  
        background-image: url('../img/countrysidehouse.jpg');
        height: 900px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
.signup-panel{
    margin-top: 40px;
}
.title{
    
    color: #124676;
}
.signUp-btn{
    background-color:#124676;
}
}