.customer-dashboard {
  .dash-hero {
    height: 46vh;
    background-image: url("../img/blue-sofa-min.jpg");
    background-position: center;
    background-size: cover;
  }
  .MuiAppBar-colorPrimary-9 {
    background-color: #124676;
  }

  .tw-title {
    color: #ffffff;
    font-size: 50px;
  }
  .tw-subtitle {
    color: #ffffff;
    margin-top: 64px;
  }

  .notification-close {
    cursor: pointer;
  }

  .ta-tabs {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    padding: 0.7rem;
    margin-bottom: -20px;
    background-color: #124676;
    z-index: 1;
    position: relative;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
  }

  .ta-tabs .nav-item + .nav-item {
    margin-left: 0;
  }

  .ta-tabs .nav-item.disabled {
    pointer-events: none !important;
  }

  .ta-tabs .nav-item.disabled .nav-link {
    color: #6c757d;
  }

  .ta-tabs .nav-link {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border: 0;
    color: #fff;
  }

  .ta-tabs .nav-item.open .nav-link,
  .ta-tabs .nav-link.active {
    background-color: #cc0000;
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
  }

  .ta-tabs .nav-item.show .nav-link {
    background-color: #124676;
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
  }

  .ta-tabs .nav-item.show .nav-link.dropdown-toggle {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .tab-content {
    padding: 1rem;
    padding-top: 2rem;
  }
}
