.login-form {
  background-image: url("../Img/Login-img.png");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;

  .login-panel {
    background-color: #fefefe;
    background-size: cover;
    height: 498px;
    position: relative;
    top: 44px;
    @media (min-width: 1200px) {
      height: 571px;
    }
  }
  .login-title {
    font-size: 25px;
    text-align: center;
    color: #124676;
    @media (min-width: 576px) {
      margin-top: 33px;
    }
  }
  .adj-top {
    top: 43px;
    position: relative;

    @media (min-width: 768px) {
      top: 243px;
      position: absolute;
    }
  }
  .login-copy {
    top: 0px;
    left: 16px;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    @media (min-width: 768px) {
      left: 19px;
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      left: 49px;
      font-size: 25px;
    }
  }
  .login {
    width: 90%;
  }
  .login-outline {
    border: 1px solid #d8d8db;
    width: 86%;
    background-color: #ffffff;
  }

  .dontHaveAnAccount {
    text-align: center;
  }
  .signUpLink {
    color: #007bff !important;
  }

  .signUpLink:hover {
    color: rgba(255, 0, 0, 1) !important;
    cursor: pointer;
  }
}
