.profile{
    .cust-pro-hero {
        height: 46vh;
        background-image: url('../img/PROFILE.jpg'); 
        background-position: center;
        background-size: cover;
        height: 305px;
     }
     .adj-bot{
        bottom: 165px;
        position: relative;
         background-color: #ffffff;
     }
     .OutlinedTextFields-textField-86{
        width: 524px;
     }
     .shadow{
        box-shadow: 10px 10px 5px grey;
        width: 600px;
     }
     .skills-shadow{
        box-shadow: 10px 10px 5px grey;
     }
}

