.profile{
    .cust-pro-hero {
        height: 46vh;
        background-image: url('../img/PROFILE.jpg'); 
        background-position: center;
        background-size: cover;
        height: 305px;
     }
     .adj-bot{
        bottom: 165px;
        position: relative;
         background-color: #ffffff;
     }
}

