.contractorCard {
  .user-single {
    border: 0 none;
    background: #fff;
    margin-bottom: 30px;
  }
  .color-dark {
    color: #202428;
  }
  .rounded-circle {
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
  }
}
