.pickuptruck {
  background-image: url(https://i.imgur.com/DulN0qt.jpg);
}
.smallTruck {
  background-image: url(https://imgur.com/E9odOLx.png);
}
.midTruck {
  background-image: url(https://imgur.com/nk474Lh.png);
}
.largeTruck {
  background-image: url(https://imgur.com/nGB1nCt.png);
}
